<ion-view title="Party Details">
    <ion-tabs>
        <ion-tab title="English">
            <ion-content class="has-header">
                <div class="party">
                    <div class="item item-divider">Vasai Jan Aandolan</div>

                    <p>Vasai Jan Aandolan is a forum established by the People of Vasai for protection of their rights. Aandolan has unanimously conferred candidature (for 133, Vasai Assembly Constituency) to Mr. Vivek Raghunath Pandit (Bhau), a resilient leader. We as 'Vasai Jan Aandolan' are committed to overall and all-inclusive development of Vasai. We assure that our every decision will bear the mandate of 'Will of the People'. We will strive hard to fulfill every wish of the People of Vasai. Policy issues concerning Vasai will be raised in the State Assembly and consistent follow up on issues in the purview of Central Government will be done. This is not a mere manifesto but a Promissory Note to the People of Vasai.</p>

                    <div class="item item-divider">Transparent and Answerable Governance</div>

                    <p>We assure transparent, responsible and answerable administration in Vasai. We assure involvement of citizen in the planning and implementation of development projects and schemes. 24 Hours Helpline will be available for the assistance and security of the citizen. Suggestions and feedback from the citizen is welcome. Suggestion Boxes will be put at central locations in the constituency. Information Centers will be established to assist citizens in getting proformas, certificates and information about government schemes. Annual Report of the work done by our candidate in the constituency and Assembly will be published. Advanced Medical Facilities: Special attention will be provided to the effective functioning of existing government health centers and hospitals. 500 bed well equipped hospital will be built to provide advanced medical facilities to the citizens from low income group.</p>

                    <div class="item item-divider">Infrastructure Development</div>

                    <p>Good quality roads, foot paths and railway subways will be constructed in the constituency. Bridge connecting Naigaon east and west will be constructed at the earliest. Good quality road connecting to Mumbai and parallel to railway line will be constructed. Over bridge at Juchandra railway crossing will be constructed. Bridge will be constructed over the creek to facilitate traffic between Naigaon east and Parreira Nagar. Vasai Fata - Satiwali - Vasai station road will be broadened to four lanes.</p>

                    <div class="item item-divider">24 Hours Electricity</div>
                    <p>There will be no load shedding in Vasai after 2 years. By then timings of load shedding will be properly regulated so that citizens and farmers suffer less. Old and rusted electricity polls and cables will be replaced with safe equipments. No innocent citizen will die at the cost of unsecured electric cables.</p>

                    <div class="item item-divider">Effective Waste Management</div>
                    <p>Modern water sewerage system will be built under the guidance of experts. Dumping grounds, industrial zones, water purification projects and bio-medical waste management projects will be established without affecting health and well being of residents.
                    </p>
                    <div class="item item-divider">Welfare of Disadvantaged and Youth</div>
                    <p>Orphanages, rehabilitation centers for destitute women and widows, rehab cent and schools for physically and mentally challenged visually impaired people will be established. Various programmes for the welfare of youth will be organised through social organisations.</p>

                    <div class="item item-divider">Railway and Local Transport</div>
                    <p>Frequency of trains from Virar to Chrchgate, Vasai to Diwa and Virar to Dahanu will be increased. Every village and locality and housing complex will be connected to railway station for 24 hours by public transport. Coordination between citizens, auto rickshaw owners and drivers will be encouraged for the advantage of all. Water transport between Vasai to Mumbai will be started.</p>

                    <div class="item item-divider">Welfare of Fishermen</div>
                    <p>Beaches will be safeguarded with the help of coastal guards and police. Disaster management system will be established to face natural and other calamities. Subsidised diesel and plenty of water will be provided at the jetties. Ice factories of Fishermen Societies will be modernized. Cold storages will be constructed near fishermen's villages. Refrigerator Banks will be established to encourage export of fish. Wireless and GPS system will be made available to all the fishermen. Houses of fishermen that are affected by BPT and CRZ will be regularized. Effective measures will be taken to prevent erosion of beaches. Revenue land in possession of fishermen and farmers will be regularized.</p>

                    <div class="item item-divider">Facilities for Housing Societies</div>
                    <p>Water connection will be provided on priority basis to housing societies without any hidden or additional costs. Special drives will be organised for easy handed over of conveyance to societies. Plots belonging to housing societies that are reserved for gardens, and other public usages and that are under illegal possessions will be emptied immediately.</p>
                </div>
            </ion-content>
        </ion-tab>
        <ion-tab title="मराठी">
            <ion-content class="has-header">
                <div class="party">
                    <div class="item item-divider">वसई जन आंदोलन</div>
                    <p>वसई जाने आंदोलन त्यांच्या हक्कांविषयी संरक्षणासाठी वसई लोक स्थापन एक व्यासपीठ आहे. आंदोलन एकमताने उमेदवारी बहाल केले आहे (एकूण 133 साठी, वसई विधानसभा मतदारसंघ) श्री विवेक रघुनाथ पंडित (भाऊ), एक संवेदनक्षम नेता. 'वसई जाने आंदोलन' म्हणून आम्ही एकूणच करण्यासाठी वचनबद्ध आणि वसई सर्व-समावेशक विकास आहेत. आम्ही आमच्या प्रत्येक निर्णय 'लोकमत' अध्यादेश सहन होईल खात्रीपूर्वक. आम्ही वसई लोक प्रत्येक इच्छा पूर्ण करणे कठीण आमचा प्रयत्न राहील. वसई यासंबंधी धोरणात्मक मुद्दे विधानसभा मध्ये असण्याचा जाईल आणि सुसंगत केले जाईल केंद्र सरकारच्या अखत्यारित मुद्दे पाठपुरावा. या वसई लोकांना फक्त जाहीरनामा पण एक वचन नाही.
                                        </p>

                   <div class="item item-divider"> पारदर्शक आणि जबाबदार शासन </div>
                    <p>आम्ही वसई मध्ये, पारदर्शक जबाबदार आणि जबाबदार प्रशासन देतो. आम्ही नियोजन आणि विकास प्रकल्प आणि योजना अंमलबजावणी मध्ये नागरिक सहभाग देतो. 24 तास हेल्पलाईन नागरिकाच्या मदत आणि सुरक्षा उपलब्ध होईल. नागरिक पासून सूचना आणि अभिप्राय स्वागत आहे आहे. सूचना बॉक्स मतदारसंघातील मध्यवर्ती ठिकाणी ठेवले जाईल. माहिती केंद्र proformas, प्रमाणपत्रे आणि शासकीय योजना माहिती येण्यास नागरिकांना सहाय्य स्थापन करण्यात आली आहे. मतदारसंघातील आणि विधानसभा आमच्या उमेदवार केलेल्या कामाचे वार्षिक अहवाल प्रकाशित केला जाईल. प्रगत वैद्यकीय सुविधा: विशेष लक्ष विद्यमान सरकारने आरोग्य केंद्रे आणि रुग्णालयांच्या प्रभावी कारभाराची प्रदान केला जाईल. 500 बेड तसेच सुसज्ज रुग्णालयात कमी उत्पन्न गटातील नागरिकांना प्रगत वैद्यकीय सुविधा पुरविण्यासाठी बांधण्यात येईल. </p>

                    <div class="item item-divider">पायाभूत सुविधा विकास</div>
                    <p>चांगल्या दर्जाचे रस्ते, पाऊल रस्ते आणि रेल्वे subways मतदारसंघातील बांधण्यात जाईल. नायगाव पूर्व आणि पश्चिम कनेक्ट पूल लवकरात लवकर बांधण्यात जाईल. रेल्वे लाईन मुंबई आणि समांतर कनेक्ट चांगल्या प्रतीचे रस्ता बांधण्यात जाईल. Juchandra रेल्वे क्रॉसिंग पूल चेंडू बांधण्यात जाईल. ब्रिज नायगाव पूर्व आणि parreira नगर दरम्यान वाहतूक व्यवस्था सुलभ करण्यासाठी खाडी प्रती बांधण्यात जाईल. वसई fata - satiwali - वसई स्टेशन रोड चार लेन करण्यासाठी विस्तारू जाईल. </p>

                   <div class="item item-divider"> 24 तास वीज</div> <p>
                        2 वर्षांनी वसई मध्ये shedding नाही लोड असेल. नागरिक आणि शेतकरी कमी त्रस्त जेणेकरून नंतर द्वारे लोड shedding च्या वेळे योग्यरित्या नियमन केले जाईल. जुने आणि rusted वीज मतदान व वायरी सुरक्षित उपकरणे बदलले जाईल. एकही निष्पाप नागरिक असुरक्षित इलेक्ट्रिक केबलचा खर्च मरतात. </p>

                    <div class="item item-divider">प्रभावी कचरा व्यवस्थापन</div> <p>
                        आधुनिक पाणी नाले प्रणाली तज्ञांच्या मार्गदर्शनाखाली बांधण्यात येईल. डम्पिंग तेंडूलकर, औद्योगिक झोन, पाणी शुध्दीकरण प्रकल्प आणि जैव वैद्यकीय कचरा व्यवस्थापन प्रकल्प आरोग्य प्रभावित आणि तसेच रहिवाशांना न ठेवता स्थापन करण्यात आली आहे. 
                        </p>
                   <div class="item item-divider"> वंचित आणि युवक कल्याण </div><p>
                        शारीरिक आणि मानसिक अंध लोकांसाठी निराधार महिला व विधवा, rehab टक्के आणि शाळांसाठी अनाथालयांतून, पुनर्वसन केंद्रे स्थापन करण्यात आली आहे. युवक कल्याणासाठी विविध कार्यक्रम सामाजिक संस्थांच्या माध्यमातून आयोजन करण्यात येईल. </p>

                   <div class="item item-divider"> रेल्वे आणि स्थानिक वाहतूक </div><p>
                        डहाणू ते diwa आणि विरार ते चर्चगेट, वसई विरार पासून गाड्या पडण्याचे प्रमाण वाढले जाईल. प्रत्येक गावात व परिसर आणि गृहनिर्माण कॉम्प्लेक्स सार्वजनिक वाहतूक करून 24 तास रेल्वे स्टेशन जोडले जातील. नागरिक, ऑटो रिक्षा मालक व ड्राइवर दरम्यान समन्वय सर्व फायदा साठी प्रोत्साहन दिले जाईल. मुंबई वसई दरम्यान पाणी वाहतूक सुरु केले जाईल. </p>

                <div class="item item-divider">    मच्छिमारांच्या कल्याण </div><p>
                        किनारे किनार्यावरील रक्षक आणि पोलिसांच्या मदतीने संरक्षण केले जाईल. आपत्ती व्यवस्थापन प्रणाली नैसर्गिक आणि इतर संकटे तोंड स्थापन करण्यात आली आहे. त्यासाठीच डिझेल आणि पाणी भरपूर जेट्टी दिली जाईल. मच्छिमार संस्थांच्या बर्फाचे कारखाने आधुनिकीकरण केले जाईल. शीत मच्छिमारांच्या च्या गावे जवळ बांधण्यात जाईल. रेफ्रिजरेटर बँका मासे निर्यात प्रोत्साहित करण्यासाठी स्थापन करण्यात आली आहे. वायरलेस आणि जीपीएस प्रणाली सर्व मच्छिमारांच्या उपलब्ध करून दिले जातील. बी.पी.टी.हॉस्पिटल आणि crz प्रभावित झाले की मच्छिमारांच्या घरे नियमित केले जाईल. प्रभावी उपाय किनारे धूप टाळण्यासाठी घेतली जाईल. कोळी व शेतकरी ताब्यात महसूल जमीन नियमित केले जाईल. </p>

                   <div class="item item-divider"> गृहनिर्माण संस्था साठी सुविधा </div><p>
                        पाणी कनेक्शन कोणत्याही लपलेले किंवा अतिरिक्त खर्च न गृहनिर्माण सोसायटीज् आधारावर प्रदान करण्यात येईल. विशेष ड्राइव्हस् सोसायटीज् वाहन च्या प्रती सोपे हाताने आयोजन करण्यात येईल. बेकायदेशीर होतीलच अंतर्गत आहेत की गार्डन्स आरक्षित आहेत की गृहनिर्माण सोसायटीज् जमातीचा भूखंड, आणि इतर सार्वजनिक वापरासाठी आणि लगेच रिकामी केली जाईल.</p>
            </ion-content>
        </ion-tab>
    </ion-tabs>
    
</ion-view>
